<h1>Important Dates</h1>
<p><b>A list of upcoming important events.</b></p>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td class="custom"><%= event.date %></td>
    <td class="custom"><%= event.description %></td>
    <td class="custom2"><%= link_to 'Show', event %></td>
    <td class="custom2"><%= link_to 'Edit', edit_event_path(event) %></td>
    <td class="custom2"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
